/*  your css code here. If applicable */
body{
	border: 1px solid black;
	padding: 30px;
	border-radius: 15px;
}
.code-container{
    display:flex;
	gap: 20px;
    justify-content: center;
}

h2,p{
    text-align: center;
}
.code{
	font-size: 50px;
	text-align:center;
	border: 1px solid black;
	border-radius: 5px;
	width: 50px;
	height: 60px;
	color: grey;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}
